
.cards_container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.font{
    position: absolute;
    opacity: 20%;
    display: flex;
    margin-top: -110px;
}

/* .All_Cards{
    width: 80%;
    margin: auto;
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
} */
.decrement {
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 5px;
}
.increment {
    background-color: transparent;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 5px;
}
.carteimage {
    max-width: 100%;
    image-resolution: 100%;  
    max-height: 500px;
    padding: 10px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin-top: 0px;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    left: 9%;
}   

.card {   
    height: 400px;
    width: 300px;
    border: .1px solid rgb(0, 0, 0);
    border-radius: 80px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 8px  black;
    margin: 5px;    
    border-color: rgb(255, 255, 254);
    background-color: #fdd1794f;
    z-index: 1;
    margin-bottom: 50px;
}

.card_text{   
 text-align: center;
 padding-bottom: 10px;
 position: relative;
}
.titre_card{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding-left: 15px;
}
.description{
    font-size: 10;
    font-family: Arial, Helvetica, sans-serif ;
    text-align: left;
    padding-left: 10px;
}
.prix{
    font-size: 20px;
    color: #ebb00f;
    padding-left: 25px;
    text-align: left;
}
.boutton{
   border-radius: 100px;
   background-color: #D6976B;
   padding: 5px;
   font-family: 'Times New Roman', Times, serif;
   transition: 0.3s ease-in-out;
}
.boutton:hover{
  transform: scale(1.1);
  background-color: #503103;
  color: #f8f8f8;
}


.quantity-controls1 {
    background-color: transparent;
    border-top-left-radius: 5px;
}

.quantity-controls2 {
    background-color: transparent;
    border-top-right-radius: 5px;
}
.quantity-controls button:hover{
    background: #D6976B;
}