.Image_Carte{
    height: 180px;
    width: 100%;
    border-top-left-radius: 30px;
}
.body_card{
    border-top-left-radius: 30px;
    border-color:rgb(190, 186, 179);
    box-shadow: 20px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;

}
.nom_categorie{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}