.StyleFooter{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(252, 182, 182);
    margin-top:40px ;
    padding-top: 5px;
}
.footer_image {
    width: 30px;
    height: auto;
    margin-right: 10px;
    border-radius: 15px;
}
.texte_ftr{
    padding-inline: 20px;
    padding-block: 20px;
}
.item_ftr {
    display: flex;
    padding: -20px;
    align-items: center;
}
.bouton_ftr {
    padding: 20px 200PX;
    font-size: 15px;
    margin-top: 22px;
    background-color: rgb(252, 182, 182);
    color: black;
    border: lch(light hue hue);
    cursor: pointer;
    transition: background 0.3s;
}
.bouton_ftr:hover {
    cursor: green;
}