@font-face{
    font-family: "bauh";
    src: url(../fonts/BAUHS93.TTF);
}
.Barre_Menu{
    background-color:white;
    box-shadow: 0 0 20px plum;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}     

.Navbar_text{
    margin-top: 2px;
   text-align: center;
   position: relative;
   left: 300px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}