.carouselContainer{
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 300PX;
    
}
.Carousel_image{
    height: 550px;
   width: 1000px;
   border-radius: 10px;
   image-resolution: 100px;
   margin-top: 20px;


}
.BarreDemenu{
    height: 100px;
    width: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.ImageDeMenu{
    height: 100px;
    width: 100px;
    position: relative;
    left: 150px;
}

.SousTitre{
    text-align: center;
    
    font-style: italic;
}
.LesCartes{
    width: 100%;
    height: auto;

}
.Boutton {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   box-shadow: inset;
   
}
.Chiffre {
    background-color: beige;
    margin: 10px;
}
.carousel{
    margin-top: 50px;
    display: flex;
    align-items: center;
}