@font-face {
    font-family: "harlowsi";
    src: url(../fonts/HARLOWSI.TTF);
}
    @font-face {
        font-family: "comic";
        src: url(../fonts/COMIC.TTF);

}
.carouselContainer{

    display: flex;
    justify-content: center;
    position: relative;
 
}
.Carousel_image{
    height: 600px;
   width: 100vw;
   object-fit: cover;
   image-resolution: 100px;
   margin-top: 8px;
}
.caroussel_text{
    font-family: 'Times New Roman', Times, serif;
    cursor: help;

}
.BarreDemenu{
<<<<<<< HEAD
    height: 100px;
    width: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: end;
=======
    align-items: center;
    display: inline-block;
    overflow: hidden;
    padding: 0px 40px 0px 40px;
    
>>>>>>> d32a42e... nanamboatra design VICMORT
}
.ImageDeMenu{
    display: block;
    height: 170px;
    width: 200px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out; 
    z-index: 2;
}

.SousTitre{
    width: 200px;
    height: 170px;
    position: relative;
    text-align: center;
    font-size: 25px;
    font-family: "harlowsi";
    color: rgb(236, 121, 13);
    transform: translateY(-50px);
    z-index: 1;
    cursor: default;
}
.ImageDeMenu:hover {
    transform: translateY(-55px);
}

.carte{
    width: 325px;
    height: 480px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin: 10px;
    box-shadow: 0 0 20px palevioletred;
    
}
.carteimage{
    width: 300px;  
    height: 250px;
    object-fit: cover;
    object-position: center;    
    margin-top: -210px;

    transform: translateX(-30px);  
    overflow: hidden;
    transition: 0.3s; 
    
    
}
.carteimage:hover{
      transform: translateX(-30px) scale(1.1);
}   
.titre{
    font-size: 30px;
    margin-top: 15px;
    font-family: "comic";
}  
.ligne{
    width: 100vw;
    height: 1000px;
    image-resolution: 100%;
    margin-top: -500px;
    position: relative;
    margin-bottom: ;
}

.Boutton {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   box-shadow: inset;
   
}
.Chiffre {
    background-color: beige;
    margin: 10px;
}
.carousel{
   
    display: flex;
    align-items: center;
}
html, body{
    overflow-x: hidden;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    
}