.carouselContainer{
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 300PX;
    
}
.Carousel_image{
    height: 550px;
   width: 1000px;
   border-radius: 20px;
   image-resolution: 100px;
   margin-top: 20px;


}
.BarreDemenu{
    height: 100px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    
}
.ImageDeMenu{
    height: 100px;
    width: 100px;
    position: relative;
    left: 150px;
}

.SousTitre{
    text-align: center;
    
    font-style: italic;
}
.LesCartes{
    width: 100%;
    height: auto;

}
.Boutton {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   box-shadow: inset;
   
}
.Chiffre {
    background-color: rgba(255, 255, 255, 0.151);
    margin: 10px;
}
.carousel{
    margin-top: 50px;
    display: flex;
    align-items: center;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.btn{
    background-color: #ffff;
    color: #070202;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: orange;
}